body {
    background: white url("images/background.jpg") no-repeat center bottom;
    background-color: DarkGrey;
    color: Crimson;
}

li a {
    color: Crimson;
}

h1 {
    color: Crimson;
    text-align: center;
}